@model Sap.SmartAccounting.Mvc.Models.PaymentDto
@{
    ViewBag.Title = "Add Test Payment Instance Manually";
}

@section Styles {
    @*<link rel="stylesheet" href="~/Scripts/datepicker/datepicker3.css">*@
}

@section Scripts {
    @*<script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#btn-create").click(function () {
                if ($("#form-create").valid()) {
                    document.forms["form-create"].submit();
                }
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b><i class="fa fa-calendar-minus-o"></i> Add Payment for TEST</b>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Console</a></li>
            <li><a href="#">Smart Matching</a></li>
            <li class="active">Payment</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-info-circle"></i> Add TEST Payment Instance Manually
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { id = "form-create", @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <!-- Date -->
                        <div class="form-group">
                            @Html.LabelFor(m => m.Company, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @placeholder = "ex: Leather Inc." })
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                        <div class="form-group">
                            @Html.LabelFor(m => m.Bank, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Bank, new { @class = "form-control", @placeholder = "ex: BOC.USD" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Amount, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "ex: 1000.00" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReceiveDate, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8 input-group" style="margin: 0 15px">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.ReceiveDate, new
                                {
                                    @class = "form-control",
                                    @data_inputmask = "'alias': 'dd/mm/yyyy'",
                                    @data_mask = "data-mask"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Reference, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Reference, new { @class = "form-control", @placeholder = "ex: Expense" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Account, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Account, new { @class = "form-control", @placeholder = "Fill by Smart Accouting" })
                            </div>
                        </div>
                        <div class="col-sm-offset-4 col-sm-8">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="button" class="btn btn-primary" id="btn-create">
                                <i class="fa fa-floppy-o"></i> Create
                            </button>
                            <a href="@Url.Action("Index", "Payment")" class="btn btn-default">Back</a>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->